.login-box{
  max-width: 700px;
  float: none;
  margin: 150px auto;
}

body{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: pink; 
}

.welcome{
  text-align: center;
  text-transform: uppercase;
  font-size: 90px;
}

.page{
  background-color: brown;
}

.logout{
  font-size: 35px;
  text-align: right;
  margin-right: 7%;
  margin-left: 83%;
  background-color:yellow;
}

h6{
  text-align: center;
  font-size: 30px;
  background-color: violet;
}

.gif{
  width: 500px;
  height: 250px;
  margin-left: 500px;
  margin-right: auto;
}

.transfer{
  background-color: lightskyblue;
}

.user{
  background-color: indianred;
}

.history{
  background-color: beige;
}

